@import url(./colour.css);


.container{
    padding: 2rem;
    border-radius: 10px;
    background-color: var(--dark-bg-tranp);
}

.gallery-img{
    width: 180px;
    height: 180px;
    object-fit: cover;

    border-radius: 8px;
    box-shadow: 0px 0px 10px var(--text-color);
    transition: all 0.3s ease-in-out;
    &:hover{
        transform: scale(1.02);
        box-shadow: 0px 0px 15px var(--text-color);
    }

}

.text-div{
    color: var(--text-color);
    margin-top: 2rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid var(--primary-blue);
    /* text-decoration: underline; */
}